<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Itinerari</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{CSS/style.css}" rel="stylesheet">
</head>
<body>
<div class="page-wrapper">
    <!-- Navbar -->
    <header class="container-fluid">
        <nav class="navbar navbar-expand-sm navbar-light p-0">
            <div class="container-fluid px-0">
                <div class="d-flex justify-content-center align-items-center" style="width: 100px; height: 100px;">
                    <img src="logo_no_sfondo_ritaglio.png" alt="logo" class="img-fluid"
                         style="max-height: 80px; width: auto;">
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse " id="navbarContent">
                    <ul class="navbar-nav mx-auto text-center">
                        <li class="nav-item">
                            <a class="nav-link fw-bold" th:href="@{/}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fw-bold" th:href="@{/itinerari}">Itinerari</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fw-bold" th:href="@{/guide}">Guide</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fw-bold" th:href="@{/#chi-siamo}">Chi Siamo</a>
                        </li>
                    </ul>

                    <div class="text-center text-sm-end mt-3 mt-sm-0">
                        <a th:href="@{/toareariservata}" class="btn btn-outline">Area Riservata</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>

<!-- Corpo della pagina con margine sopra -->
<div class="container-fluid mt-4">
    <div class="row">
        <!-- Div laterale a sinistra -->
        <div class="col-md-3">
            <div class="border ms-3 p-3">
                <h4>Applica i filtri per ricerca</h4>
                <form method="post" action="/itinerari">
                    <div class="mb-3">
                        <label for="regione" class="form-label">Regione</label>
                        <select class="form-select" id="regione" name="regione">
                            <option value="tutte-regioni" selected>Tutte le regioni</option>
                            <option value="" disabled>------------------------------</option>
                            <option value="abruzzo">Abruzzo</option>
                            <option value="basilicata">Basilicata</option>
                            <option value="calabria">Calabria</option>
                            <option value="campania">Campania</option>
                            <option value="emilia-romagna">Emilia-Romagna</option>
                            <option value="friuli-venezia-giulia">Friuli Venezia Giulia</option>
                            <option value="lazio">Lazio</option>
                            <option value="liguria">Liguria</option>
                            <option value="lombardia">Lombardia</option>
                            <option value="marche">Marche</option>
                            <option value="molise">Molise</option>
                            <option value="piemonte">Piemonte</option>
                            <option value="puglia">Puglia</option>
                            <option value="sardegna">Sardegna</option>
                            <option value="sicilia">Sicilia</option>
                            <option value="toscana">Toscana</option>
                            <option value="trentino-alto-adige">Trentino-Alto Adige</option>
                            <option value="umbria">Umbria</option>
                            <option value="valle-d-aosta">Valle d'Aosta</option>
                            <option value="veneto">Veneto</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <fieldset>
                            <legend style="font-size:medium;">Difficoltà</legend>
                            <label for="facile" class="form-label">Facile</label>
                            <input type="checkbox" value="facile" id="facile" name="difficolta" checked></input>
                            <label for="media" class="form-label">Media</label>
                            <input type="checkbox" value="media" id="media" name="difficolta" checked></input>
                            <label for="difficile" class="form-label">Difficile</label>
                            <input type="checkbox" value="difficile" id="difficile" name="difficolta" checked></input>
                        </fieldset>
                    </div>
                    <div class="mb-3">
                        <label for="ordinaPer" class="form-label">Ordina per:</label>
                        <select class="form-select" id="ordinaPer" name="ordinaPer">
                            <option value="prezzo" selected>Prezzo</option>
                            <option value="durata_media">Durata media</option>
                            <option value="distanza">Distanza</option>
                            <option value="dislivello">Dislivello</option>
                        </select>
                    </div>
                    <br/>
                    <button type="submit" class="btn btn-primary">Applica Filtri</button>
                </form>
            </div>
<!--            <div class="border ms-3 p-3">-->
<!--                <h4>Applica i filtri per ricerca</h4>-->
<!--                <form method="post" action="/itinerari">-->
<!--                    <div class="mb-3">-->
<!--                        <label for="ricercaItinerario" class="form-label">Regione</label>-->
<!--                        <input type="search" class="form-control" placeholder="Cerca itinerario..." id="ricercaItinerario" name="ricercaItinerario">-->
<!--                        </select>-->
<!--                    </div>-->
<!--                </form>-->
<!--            </div>-->
        </div>

        <!-- Contenuto principale -->
        <div class="col-md-9">
            <div class="border p-3">
                <h4 style="text-align: center">Tutti gli itinerari</h4>
                <div th:if="${#lists.isEmpty(itinerariVisualizzati)}">
                    <p>Non ci sono itinerari da visualizzare per i filtri selezionati.</p>
                    </div>
                    <!-- Card 1 con margine inferiore -->
                    <div class="card mb-4" th:each="itinerario : ${itinerariVisualizzati}">
                        <div class="row g-0">
                            <!-- Parte sinistra con foto -->
                            <div class="col-md-6">
                                <img th:src="@{${itinerario.immagine == null ? 'markerImage.png' : itinerario.immagine}}"
                                     class="img-fluid rounded-start" alt="Foto">
                            </div>
                            <!-- Parte destra con descrizione -->
                            <div class="col-md-6">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="${itinerario.nome}">Titolo della Card</h5>
                                    <p class="card-text" th:text="${#strings.length(itinerario.descrizione) > 500 ? #strings.substring(itinerario.descrizione,0,500) + '...' : itinerario.descrizione}">
                                        Descrizione breve...
                                    </p>
                                    <div class="d-flex align-items-center">
                                        <span class="ml-2" th:text="'Difficoltà: ' + ${itinerario.difficolta}">Difficoltà: 5/5</span>
                                    </div>
                                    <!-- Pulsante per dettagli -->
                                    <a th:href="@{/dettaglio(id=${itinerario.id})}" class="btn btn-primary mt-4">Scopri
                                        di più</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="mt-4">
    <div class="container-fluid">
        <div class="row gy-4">
            <div class="col-12 col-md-6">
                <h5 class="mb-2">Contatti</h5>
                <ul class="list-unstyled">
                    <li class="mb-2">Email: info@example.com</li>
                    <li class="mb-2">Telefono: +39 123 456 789</li>
                    <li>Indirizzo: Via Roma 123, 00100 Roma, Italia</li>
                </ul>
            </div>
            <div class="col-12 col-md-6 text-md-end">
                <h5 class="mb-3">Seguici sui Social</h5>
                <div class="d-flex gap-3 justify-content-md-end justify-content-start social-icons">
                    <a href="#"><i class="bi bi-facebook"></i></a>
                    <a href="#"><i class="bi bi-twitter"></i></a>
                    <a href="#"><i class="bi bi-instagram"></i></a>
                    <a href="#"><i class="bi bi-linkedin"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.9.1/font/bootstrap-icons.min.css" rel="stylesheet">
</body>
</html>
