<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login e Registrazione - Prenotazioni</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f7f7f7;
        }
        .form-container {
            margin-top: 50px;
            max-width: 400px;
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body>
<header class="container-fluid py-3 border-bottom">
    <nav class="navbar navbar-expand-sm navbar-light p-0">
        <div class="container-fluid px-0">
            <!-- Logo -->
            <div class="d-flex justify-content-center align-items-center" style="width: 160px; height: 160px;">
                <img src="https://cdn.discordapp.com/attachments/1287723262561751093/1298991927726964808/logopiccolo_no_bg.png?ex=671b9401&is=671a4281&hm=66d46e6120a7d6c76ebef1465f7b651141f90b6fe033f6cec03d5ef90957e9de&" alt="logo" class="img-fluid" style="max-height: 100%; width: auto;">
            </div>

            <!-- Hamburger button -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
                    aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Contenuto navbar collassabile -->
            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav mx-auto text-center">
                    <li class="nav-item px-2">
                        <a class="nav-link" th:href="@{/}">Home</a>
                    </li>
                    <li class="nav-item px-2">
                        <a class="nav-link" th:href="@{/itinerari}">Itinerari</a>
                    </li>
                    <li class="nav-item px-2">
                        <a class="nav-link" th:href="@{/guide}">Guide</a>
                    </li>
                    <li class="nav-item px-2">
                        <a class="nav-link" th:href="@{/#chi-siamo}">Chi Siamo</a>
                    </li>
                </ul>

                <!-- Area Riservata -->
                <div class="text-center text-sm-end mt-3 mt-sm-0">
                    <a th:href="@{/areariservata}" class="btn btn-outline-secondary">Area Riservata</a>
                </div>
            </div>
        </div>
    </nav>
</header>

<div class="container">
    <!-- Form di Login -->
    <div class="form-container mx-auto" id="login-form">
        <h2 class="text-center">Accedi</h2>
        <form method="post" action="/loginregistrazione/login">
            <div class="mb-3">
                <label for="login-username" class="form-label">Nome utente</label>
                <input type="text" class="form-control" id="login-username" name="login-username" placeholder="Inserisci il nome utente"
                       required>
            </div>
            <div class="mb-3">
                <label for="login-password" class="form-label">Password</label>
                <input type="password" class="form-control" id="login-password" name="login-password" placeholder="Inserisci la password"
                       required>
            </div>
            <p th:if="${messaggio != null}" th:text="${messaggio}" th:style="${messaggio == 'Registrazione effettuata' ? 'color:green; font-weight: bold; text-align: center;' : 'color:red; font-weight: bold; text-align: center;'}"></p>
            <button type="submit" class="btn btn-primary w-100">Accedi</button>
        </form>
        <p class="text-center mt-3">Non hai un account? <a href="#" onclick="showRegisterForm()">Registrati</a></p>
    </div>

    <!-- Form di Registrazione -->
    <div class="form-container mx-auto d-none" id="register-form">
        <h2 class="text-center">Registrati</h2>
        <form method="post" action="/loginregistrazione/registrazione" th:object="${utente}">
            <div class="mb-3">
                <label for="nome" class="form-label">Nome: </label>
                <input type="text" class="form-control" id="nome" th:field="*{nome}" placeholder="Inserisci Nome" required>
            </div>
            <div class="mb-3">
                <label for="cognome" class="form-label">Cognome: </label>
                <input type="text" class="form-control" id="cognome" th:field="*{cognome}" placeholder="Inserisci Cognome" required>
            </div>
            <div class="mb-3">
                <label for="username" class="form-label">Nome Utente: </label>
                <input type="text" class="form-control" id="username" th:field="*{username}" placeholder="Inserisci Nome Utente"
                       required>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email: </label>
                <input type="email" class="form-control" id="email" th:field="*{email}" placeholder="Inserisci Email"
                       required>
            </div>
            <div class="mb-3">
                <label for="nascita" class="form-label">Data di Nascita: </label>
                <input type="date" class="form-control" id="nascita" th:field="*{dataNascita}" placeholder="Inserisci Data di Nascita"
                       required>
            </div>
            <div class="mb-3">
                <label for="register-password" class="form-label">Password</label>
                <input type="password" class="form-control" id="register-password" th:field="*{password}" placeholder="Crea una password"
                       required>
            </div>
            <p th:if="${messaggioDue != null}" th:text="${messaggioDue}" style="color:red; font-weight: bold; text-align: center;"></p>
            <button type="submit" class="btn btn-success w-100">Registrati</button>
        </form>
        <p class="text-center mt-3">Hai già un account? <a href="#" onclick="showLoginForm()">Accedi</a></p>
    </div>
</div>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

<!-- Script JavaScript per il Login e Registrazione -->
<script>
    // Mostra il form di registrazione
    function showRegisterForm() {
        document.getElementById('login-form').classList.add('d-none');
        document.getElementById('register-form').classList.remove('d-none');
    }

    // Mostra il form di login
    function showLoginForm() {
        document.getElementById('register-form').classList.add('d-none');
        document.getElementById('login-form').classList.remove('d-none');
    }
</script>

</body>
</html>