<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css" rel="stylesheet">
    <link th:href="@{CSS/style.css}" rel="stylesheet">
    <style>
        .form-container {
           width: 420px;
           background: trasparent;
           padding: 20px;
           border-radius: 10px;
           padding: 30px 40px;
           border : 2px solid rgba(255, 255, 255, .2);
           color: #fff;
           backdrop-filter: blur(20px);
           box-shadow: 0 0 10px rgba(0, 0, 0, .2);
       }
       .btn-custom {
            border: 2px solid white;
            border-radius: 25%;
            padding: 2px 4px;
            color: white;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
       }

        .btn-custom:hover {
            transform: translateY(-0.2rem);
            box-shadow: 0 0.4rem 0.8rem rgba(44, 85, 48, 0.1);
        }

       body {
           background-image: url("immagine-login.jpg");
           background-size: cover;
       }
    </style>
</head>
<body>

<div class="container mt-5">

    <!-- Form di Login -->
    <div class="form-container mx-auto" id="login-form">
        <div>
            <a th:href="@{/checkout/indietro}" class="btn-custom">
                <i class="bi bi-arrow-left"></i> <!-- Icona freccia -->
            </a>
        </div>
        <h2 class="text-center">Accedi</h2>
        <form method="post" action="/loginregistrazione/login">
            <div class="mb-3">
                <label for="login-username" class="form-label">Nome utente</label>
                <input type="text" class="form-control" id="login-username" name="login-username" placeholder="Inserisci il nome utente"
                       required>
            </div>
            <div class="mb-3">
                <label for="login-password" class="form-label">Password</label>
                <input type="password" class="form-control" id="login-password" name="login-password" placeholder="Inserisci la password"
                       required>
            </div>
            <p th:if="${messaggio != null}" th:text="${messaggio}" th:style="${messaggio == 'Registrazione effettuata' ? 'color:white; font-weight: bold; text-align: center; text-shadow: 0px 0px 5px black;' : 'color:orangered; font-weight: bold; text-align: center; text-shadow: 0px 0px 5px black;'}"></p>
            <button type="submit" class="btn btn-primary w-100">Accedi</button>
        </form>
        <p class="text-center mt-3">Non hai un account? <a href="#" onclick="showRegisterForm()">Registrati</a></p>
    </div>

    <!-- Form di Registrazione -->
    <div class="form-container mx-auto d-none" id="register-form">
        <div>
            <a th:href="@{/checkout/indietro}" class="btn-custom">
                <i class="bi bi-arrow-left"></i> <!-- Icona freccia -->
            </a>
            <h2 class="text-center">Registrati</h2>
        </div>
        <form method="post" action="/loginregistrazione/registrazione" th:object="${utente}" id="formRegistrazione">
            <div class="mb-3">
                <label for="nome" class="form-label">Nome: </label>
                <input type="text" class="form-control" id="nome" th:field="*{nome}" placeholder="Inserisci Nome" maxlength="50" required>
            </div>
            <div class="mb-3">
                <label for="cognome" class="form-label">Cognome: </label>
                <input type="text" class="form-control" id="cognome" th:field="*{cognome}" placeholder="Inserisci Cognome" maxlength="50" required>
            </div>
            <div class="mb-3">
                <label for="username" class="form-label">Nome Utente: </label>
                <input type="text" class="form-control" id="username" th:field="*{username}" placeholder="Inserisci Nome Utente" maxlength="50" required>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email: </label>
                <input type="email" class="form-control" id="email" th:field="*{email}" placeholder="Inserisci Email" maxlength="50" required>
            </div>
            <div class="mb-3">
                <label for="nascita" class="form-label">Data di Nascita: </label>
                <input type="date" class="form-control" id="nascita" th:field="*{dataNascita}" placeholder="Inserisci Data di Nascita" min="1900-01-01" required>
            </div>
            <div class="mb-3">
                <label for="register-password" class="form-label">Password</label>
                <input type="password" class="form-control" id="register-password" th:field="*{password}" placeholder="Crea una password" minlength="8" maxlength="50" required>
            </div>
            <p th:if="${messaggioDue != null}" th:text="${messaggioDue}" style="color:orangered; font-weight: bold; text-align: center; text-shadow: 0px 0px 5px black;"></p>
            <button type="submit" class="btn btn-success w-100">Registrati</button>
        </form>
        <p class="text-center mt-3">Hai già un account? <a href="#" onclick="showLoginForm()">Accedi</a></p>
    </div>
</div>

<!-- Icone Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.js"></script>
<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

<!-- Script JavaScript per il Login e Registrazione -->
<script>
    // Mostra il form di registrazione
    function showRegisterForm() {
        document.getElementById('login-form').classList.add('d-none');
        document.getElementById('register-form').classList.remove('d-none');
    }

    // Mostra il form di login
    function showLoginForm() {
        document.getElementById('register-form').classList.add('d-none');
        document.getElementById('login-form').classList.remove('d-none');
    }


    // FUNZIONI DI CONTROLLO DEL FORM DI REGISTRAZIONE

    // data attuale
    const oggi = new Date();

    // data massima selezionabile per data di nascita (data attuale - 18 anni)
    const maxDate = new Date(
        oggi.getFullYear() - 18,
        oggi.getMonth(),
        oggi.getDate()
    );

    // formatto la data e la setto come max dell'input
    const dataFormattata = maxDate.toISOString().split('T')[0];
    document.getElementById("nascita").max = dataFormattata;

    // evento di controllo

    document.getElementById("formRegistrazione").addEventListener("submit", function(event) {
        console.log("Form submission triggered");
        const passwordInput = document.getElementById("register-password");

        if (!validatePassword(passwordInput)) {
            passwordInput.reportValidity();
            event.preventDefault();
        }
    });

    // refresh della validity dell'input password ogni volta che l'utente ci scrive
    document.getElementById("register-password").addEventListener("input", function(event) {
        this.setCustomValidity("");
    });

    // controllo validity input password
    function validatePassword(passwordInput) {
        const password = passwordInput.value;
        console.log("Password being tested:", password);

        const uppercasePattern = /[A-Z]/;
        const lowercasePattern = /[a-z]/;
        const numberPattern = /[0-9]/;
        const symbolPattern = /[!@#$%^&*()_+\-=\[\]{};':"\\|,.<>/?]/;

        let errorMessage = "";

        if (!uppercasePattern.test(password)) {
            errorMessage += "Deve contenere almeno una lettera maiuscola (A-Z).\n";
        }
        if (!lowercasePattern.test(password)) {
            errorMessage += "Deve contenere almeno una lettera minuscola (a-z).\n";
        }
        if (!numberPattern.test(password)) {
            errorMessage += "Deve contenere almeno un numero (0-9).\n";
        }
        if (!symbolPattern.test(password)) {
            errorMessage += "Deve contenere almeno un simbolo consentito (! @ # $ % ^ & * ( ) _ + - = [ ] { } ; : ' \" \\ | , . < > / ?).\n";
        }

        if (errorMessage === "") {
            passwordInput.setCustomValidity("");
            return true;
        } else {
            passwordInput.setCustomValidity(errorMessage);
            return false;
        }
    }
</script>
<script th:if="${messaggioDue != null}">
    document.getElementById('login-form').classList.add('d-none');
    document.getElementById('register-form').classList.remove('d-none');
</script>
</body>
</html>